/.vs
/Build
/Libraries/Nop.Core/bin
/Libraries/Nop.Data/bin
/Libraries/Nop.Services/bin
/Presentation/Nop.Web/bin
/Presentation/Nop.Web.Framework/bin
/Presentation/Nop.Web/node_modules
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
/Tests/Nop.Tests/obj
/Presentation/Nop.Web/obj
/Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj
/Plugins/Nop.Plugin.Widgets.Swiper/obj
/Libraries/Nop.Data/obj
/Libraries/Nop.Services/obj
/Plugins/Nop.Plugin.Misc.Brevo/obj
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
/Plugins/Nop.Plugin.Search.Lucene/obj
