/.vs
/Build
/Libraries/Nop.Core/bin
/Libraries/Nop.Data/bin
/Libraries/Nop.Services/bin
/Presentation/Nop.Web/bin
/Presentation/Nop.Web.Framework/bin
/Presentation/Nop.Web/node_modules
/Plugins/Nop.Plugin.Misc.Dynamics365/obj
/Plugins/Nop.Plugin.Misc.Zettle/obj
/Plugins/Nop.Plugin.Payments.AmazonPay/obj
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
/Plugins/Nop.Plugin.Payments.PayPalCommerce/obj
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj
/Plugins/Nop.Plugin.Widgets.FacebookPixel/obj
/Presentation/Nop.Web.Framework/obj
/Presentation/Nop.Web/obj
/Libraries/Nop.Services/obj
/Libraries/Nop.Core/obj
/Libraries/Nop.Data/obj